
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	
	
   	<bean id="AreaData" class="za.co.alertsms.entity.areas.AreaData">
 
		<property name="areaDs" ref="alertSms" />
		 <property name="createArea" >
		    <value><![CDATA[
					INSERT INTO `alertsms`.`areas` 
						(`iArea`, 
						`area`, 
						`areaDescription`
						)
						VALUES
						('${iArea}', 
						'${area}', 
						'${areaDescription}'
						);]]>
		 </value>
	   </property>
	
	
		
		
   </bean>
 

	
</beans>